@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap"); /* Configuraciones Basicas */
* {
  margin: 0px;
  padding: 0px;
}

html {
  font-size: 16px;
}

/* Body */
body {
  background: linear-gradient(to top, #2980b9, #6dd5fa);
}

.titulo {
  font-family: "Rowdies", cursive;
  background: -webkit-linear-gradient(blue, #000046);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  padding: 0px;
  margin: 0px;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2.5rem;
}

/* Modal */
.modalDialogo {
  color: #000046;
}
.modalDialogo .modal-body p {
  font-size: 2rem;
}
.modalDialogo .modal-footer {
  /* Nose porque a la hora de reemplazar los colores por las "variables" de colores no me las tomaba asi que lo deje tal cual estaba en el css.
  Porque como dicen los programadores, si algo funciona no se toca. */
}
.modalDialogo .modal-footer .btn-outline-custom {
  --bs-btn-color: #000046;
  --bs-btn-border-color: #000046;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #000046;
  --bs-btn-hover-border-color: #000046;
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #000046;
  --bs-btn-active-border-color: #000046;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000046;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #000046;
  --bs-gradient: none;
}

/* Header */
header {
  border-bottom: 2px black solid;
  padding-bottom: 5px;
  /* Barra de Navegacion */
}
header .logo {
  height: 17.5vw;
  box-shadow: 4px 4px 4px 4px black;
}
header a {
  color: blue;
  font-family: "Rowdies";
  list-style: none;
  text-decoration: none;
  font-size: 1.5rem;
  background-color: #fafafa;
  box-shadow: 0px 5px 0px black;
}
header a:active {
  transform: translateY(5px);
  box-shadow: 0px 0px 0px;
}

/* Footer */
footer {
  border-top: 2px black solid;
}
footer .logo {
  width: 10rem;
  height: 10rem;
  box-shadow: 4px 4px 4px 4px black;
}
footer a i {
  font-size: 2rem;
  color: #000046;
}
footer a i:hover {
  color: #fafafa;
}

/* Inicio */
/* Carrusel */
.carrusel {
  transition: all 0.2s;
}
.carrusel img {
  height: 25rem;
  width: 50vw;
}

/* Novedades */
.novedad img {
  height: 10rem;
  width: 10rem;
}
.novedad img:hover {
  transform: scale(1.5);
}

.contacto ul li {
  list-style: none;
}
.contacto ul li a {
  color: #000046;
  text-decoration: none;
}
.contacto ul li a:hover {
  color: #fafafa;
}

.locales {
  border: #000046 2px solid;
  border-radius: 5px;
  height: 17.5rem;
  width: 35rem;
}

/* Productos */
/* Sabores */
.sabores {
  border: 2px black solid;
}
.sabores h4 {
  font-family: "Rowdies", cursive;
  color: #fafafa;
  text-shadow: 1px 1px 0 black, 1px -1px 0 black, -1px 1px 0 black, -1px -1px 0 black;
}
.sabores ul li {
  list-style: none;
  font-size: 1.5rem;
  font-family: "Times New Roman", Times, serif;
}
.sabores .agua {
  background-color: #000046;
  border-bottom: 2px solid black;
}
.sabores .cremas {
  background-color: #000046;
  border-bottom: 2px solid black;
}

/* Tarjete de Productos */
.tarjetaProducto {
  width: 13rem;
  background-color: #000046;
  color: #fafafa;
}
.tarjetaProducto .filtroBlur {
  position: relative;
}
.tarjetaProducto .filtroBlur img {
  height: 10rem;
  transition: 0.3s;
}
.tarjetaProducto .filtroBlur .filtroTexto {
  font-size: 1.25rem;
  position: absolute;
  top: 10%;
  opacity: 0;
  transition: 0.3s;
  text-shadow: 1px 1px 0 black, 1px -1px 0 black, -1px 1px 0 black, -1px -1px 0 black;
}
.tarjetaProducto .filtroBlur:hover :not(img) {
  opacity: 100;
}
.tarjetaProducto .filtroBlur:hover :not(p) {
  filter: blur(5px) brightness(80%);
}

main img {
  width: 100%;
  height: 100%;
  max-height: 400px;
}
main p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.25rem;
}

/* Mediaqueries */
@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
  .carrusel {
    width: 98vw;
  }
}
@media (max-width: 575.98px) {
  html {
    font-size: 10px;
  }
  header .logo {
    box-shadow: 3px 3px 3px 3px black;
  }
  header a {
    box-shadow: 0px 3px 0px black;
  }
  header a:active {
    transform: translateY(3px);
    box-shadow: 0px 0px 0px black;
  }
  footer .creditos {
    display: none;
  }
  footer .logo {
    box-shadow: 3px 3px 3px 3px black;
  }
}
@media (max-width: 405px) {
  html {
    font-size: 8px;
  }
  footer .logo {
    box-shadow: 1px 1px 1px 1px black;
  }
  header .logo {
    box-shadow: 1px 1px 1px 1px black;
  }
  header a {
    box-shadow: 0px 1px 0px #034470;
  }
}

/*# sourceMappingURL=style.css.map */
