@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap"); /* Configuraciones Basicas */
* {
  margin: 0px;
  padding: 0px;
}

html {
  font-size: 16px;
}

/* Body */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(to top, #2980b9, #6dd5fa);
}

.titulo {
  font-family: "Rowdies", cursive;
  background: -webkit-linear-gradient(blue, #000046);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  padding: 0px;
  margin: 0px;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2.5rem;
}

/* Modal */
.modalDialogo {
  color: #000046;
}
.modalDialogo .modal-body p {
  font-size: 2rem;
}

/* Nose porque a la hora de reemplazar los colores por las "variables" de colores no me las tomaba asi que lo deje tal cual estaba en el css. */
.btn-outline-custom {
  --bs-btn-color: #000046;
  --bs-btn-border-color: #000046;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #000046;
  --bs-btn-hover-border-color: #000046;
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #000046;
  --bs-btn-active-border-color: #000046;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000046;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #000046;
  --bs-gradient: none;
}

/* Header */
header {
  border-bottom: 2px black solid;
  padding-bottom: 5px;
  /* Barra de Navegacion */
  /* Cambiar el color del menu hamburguesa */
}
header h1 {
  margin-left: 10px;
}
header .logo {
  height: 17vw;
  max-height: 8rem;
  width: 17vw;
  max-width: 8rem;
  box-shadow: 4px 4px 4px 4px black;
}
header li a {
  color: #fafafa;
  font-family: "Rowdies";
  list-style: none;
  text-decoration: none;
  font-size: 1.75rem;
  text-shadow: 1.2px 1.2px 0 black, 1.2px -1.2px 0 black, -1.2px 1.2px 0 black, -1.2px -1.2px 0 black;
  transition: all 0.2s;
}
header li a:hover {
  transform: scale(1.1);
}
header .navbar-toggler {
  display: flex;
  align-items: center;
  border-width: 2px;
  border-color: #000046;
  width: 4rem;
  height: 4rem;
}
header .navbar-toggler .navbar-toggler-icon {
  width: 40px;
  height: 40px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 70, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* Footer */
footer {
  margin-top: auto;
  border-top: 2px black solid;
}
footer .logo {
  width: 10rem;
  height: 10rem;
  box-shadow: 4px 4px 4px 4px black;
}
footer a i {
  font-size: 2rem;
  color: #000046;
}
footer a i:hover {
  color: #fafafa;
}

/* Inicio */
/* Carrusel */
.carousel-inner {
  border: 5px solid #000046;
}
.carousel-inner .carousel-item {
  transition: all 1.25s;
}
.carousel-inner img {
  height: 25rem;
  width: 100%;
}

/* Novedades */
.novedad img {
  height: 12.5rem;
  width: 12.5rem;
  border: 3px solid #000046;
  transition: all 0.2s;
}
.novedad img:hover {
  transform: scale(1.15);
}

.contacto ul li {
  list-style: none;
}
.contacto ul li a {
  color: #000046;
  text-decoration: none;
}
.contacto ul li a:hover {
  color: #fafafa;
}

.locales {
  border: #000046 2px solid;
  border-radius: 5px;
  height: 17.5rem;
  width: 35rem;
}

/* Productos */
/* Sabores */
.sabores {
  border: 2px black solid;
}
.sabores h4 {
  font-family: "Rowdies", cursive;
  color: #fafafa;
  text-shadow: 1px 1px 0 black, 1px -1px 0 black, -1px 1px 0 black, -1px -1px 0 black;
}
.sabores ul li {
  list-style: none;
  font-size: 1.5rem;
  font-family: "Times New Roman", Times, serif;
}
.sabores .agua {
  background-color: #000046;
  border-bottom: 2px solid black;
}
.sabores .cremas {
  background-color: #000046;
  border-bottom: 2px solid black;
}

/* Tarjeta de Productos */
.tarjetaProducto {
  width: 15rem;
  background-color: #000046;
  color: #fafafa;
}
.tarjetaProducto .filtroBlur {
  position: relative;
}
.tarjetaProducto .filtroBlur img {
  height: 12rem;
  transition: 0.3s;
}
.tarjetaProducto .filtroBlur .filtroTexto {
  font-size: 1.25rem;
  position: absolute;
  top: 10%;
  opacity: 0;
  transition: 0.3s;
  text-shadow: 1px 1px 0 black, 1px -1px 0 black, -1px 1px 0 black, -1px -1px 0 black;
}
.tarjetaProducto .filtroBlur:hover :not(img) {
  opacity: 100;
}
.tarjetaProducto .filtroBlur:hover :not(p) {
  filter: blur(5px) brightness(80%);
}

.empresa .row .col-12 img {
  width: 100%;
  height: 100%;
  max-height: 400px;
  margin: 5px;
}
.empresa .row .col-12 p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.25rem;
}

/* Mediaqueries */
@media (max-width: 991px) {
  header {
    position: fixed;
    top: auto;
    min-width: 100vw;
    z-index: 10;
    background-color: #6dd5fa;
  }
  header .offcanvas-body {
    background-color: #00008B;
  }
  main {
    margin-top: 25vh;
  }
  footer .bi-house {
    display: none;
  }
  .carrusel {
    width: 100vw;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
  main {
    margin-top: 20vh;
  }
  .novedad img {
    height: 15rem;
    width: 15rem;
  }
}
@media (max-width: 575.98px) {
  html {
    font-size: 13px;
  }
  main {
    margin-top: 15vh;
  }
  header .logo {
    box-shadow: 3px 3px 3px 3px black;
  }
  footer .creditos {
    display: none;
  }
  footer .logo {
    box-shadow: 3px 3px 3px 3px black;
  }
}
@media (max-width: 405px) {
  html {
    font-size: 12px;
  }
  footer .logo {
    box-shadow: 1px 1px 1px 1px black;
  }
  header .logo {
    box-shadow: 1px 1px 1px 1px black;
  }
}

/*# sourceMappingURL=style.css.map */
