/* Header */

header {

    border-bottom: 2px black solid;
    padding-bottom: 5px;

    h1 {
        margin-left: 10px;
    }

    .logo {
        height: 17vw;
        max-height: 8rem;
        width: 17vw;
        max-width: 8rem;
        box-shadow: 4px 4px 4px 4px black;
    }

    /* Barra de Navegacion */

    li {
        a {
            color: $colorB;
            font-family: $tipoLetraUno;
            list-style: none;
            text-decoration: none;
            font-size: 1.75rem;
            text-shadow: 1.2px 1.2px 0 black, 1.2px -1.2px 0 black, -1.2px 1.2px 0 black, -1.2px -1.2px 0 black;
            transition: all 0.2s;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    /* Cambiar el color del menu hamburguesa */

    .navbar-toggler {

        display: flex;
        align-items: center;

        border-width: 2px;
        border-color: $colorP;

        width: 4rem;
        height: 4rem;

        .navbar-toggler-icon {

            width: 40px;
            height: 40px;
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 70, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        }
    }
}