/* Inicio */

/* Carrusel */

.carousel-inner {

    border: 5px solid $colorP;

    .carousel-item {

        transition: all 1.25s;
    }

    img {
        height: 25rem;
        width: 100%;
    }
}

/* Novedades */

.novedad {

    img {

        height: 12.5rem;
        width: 12.5rem;
        border: 3px solid $colorP;
        transition: all 0.2s;

        &:hover {
            transform: scale(1.15);
        }
    }
}