/* Mediaqueries */

@media (max-width:991px) {

    header {
        position: fixed;
        top: auto;
        min-width: 100vw;
        z-index: 10;
        background-color: #6dd5fa;

        .offcanvas-body {
            background-color: #00008B;
        }
    }

    main {
        margin-top: 25vh;
    }

    footer {
        .bi-house {
            display: none;
        }
    }

    .carrusel {
        width: 100vw;
    }
}


@media (max-width:768px) {

    html {

        font-size: 14px;
    }

    main {
        margin-top: 20vh;
    }

    .novedad {

        img {
            height: 15rem;
            width: 15rem;
        }
    }
}

@media (max-width: 575.98px) {

    html {
        font-size: 13px;
    }

    main {
        margin-top: 15vh;
    }

    header {

        .logo {

            box-shadow: 3px 3px 3px 3px black;
        }
    }

    footer {

        .creditos {
            display: none;
        }


        .logo {
            box-shadow: 3px 3px 3px 3px black;
        }
    }
}

@media (max-width: 405px) {

    html {
        font-size: 12px;
    }

    footer .logo {
        box-shadow: 1px 1px 1px 1px black;
    }

    header .logo {
        box-shadow: 1px 1px 1px 1px black;
    }

}